div.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

div.main div.title {
    margin: 3px;
    margin-bottom: 20px;
}
div.main div.title h1 {
    margin-bottom: 8px;
}

div.tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.tools div.first input {
    padding: 4px;
    margin: 3px;
    border-radius: 4px;
    border: 0;
}

div.tools div.first label {
    justify-content: center;
}

button.b {
    padding: 4px;
    margin: 3px;
    width: 100%;
    color: white;
    font-weight: bold;
    border: 0;
    background-color: #e02041;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    transition: opacity 0.2s;
}

button.b:hover {
    opacity: 0.8;
}


ul {
    margin-top: 35px;
}

ul li {
    margin-bottom: 15px;
    border-radius: 4px;
    list-style: none;
    background-color: white;
    padding: 15px;
}
button.bRemove {
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    background: none;
    border: 0;
    transition: color 0.5s;
}

button.bRemove:hover {
    color: tomato;
    font-size: medium;
}

li div.liTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
li div.liTitle strong {
    text-decoration: underline;
    color: royalblue;
}
li div.liTitle strong:hover {
    color: tomato;
}

li p {
    margin-top: 8px;
}
li p:last-child {
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    background: white;
    border-radius: 4px;
    padding: 7px;
    width: 55%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.modal-main-remove {
    position:fixed;
    background: white;
    border-radius: 4px;
    padding: 7px;
    width: 40%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

div.title-modal {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    margin-left: 2px;
    margin-bottom: 5px;
    color: #e02041;
}

p.p-remove {
    font-weight: bold;
    margin: 7px;
}

form.form-modal {
    display: grid;
    padding: 5px;
}

form.form-modal input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid #e02041;
    
}

form.form-modal label {
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 5px;
}

div.text {
    margin-bottom: 7px;
    margin-left: 9px;
    margin-right: 9px;
    width: fit-content;
}

div.butoes {
    float: right;
}

div.butoes button {
    border-radius: 5px;
    border: 1px;
    padding: 7px;
    color: white;
    background-color: #e02041;
    margin-top: 7px;
    margin-bottom: 3px;
    margin-right: 15px;
}